/* navbar */
.nav{
    background-color: black;
    border: 4px solid rgb(255, 255, 255);
    
    list-style: none;
    display: flex;
    justify-content: center; 
}

.navbar a{
    text-decoration: none;
    padding: 20px 40px;
    color: white;
    font-size: large;

    transition: background-color 0.2s ease-out, transform 0.4s ease-out;
}

.nav a:hover{
    background-color: rgb(138, 138, 138);
    transform: scale(1.05);
}


/* dropdown */
.dropdown{
  display: inline-block;
}

.dropdown button{
  background-color: black;
  color: white;

  padding: 20px 40px;
  font-size: large;
  transition: background-color 0.2s ease-out, transform 0.4s ease-out;
  
  border: none;
  cursor: pointer;
}

.dropdown .content a{
  display: block;
  background-color: #000000;
  text-decoration: none;
  padding: 20px 40px; 
}

.dropdown .content{
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.405);
}

.dropdown:hover .content{
  display: block;
}

.dropdown:hover button{
  background-color: #fcfcfc;
  color: black;
}

.dropdown a:hover{
  background-color: #c1c1c1;
}


/* rubrik */
.rubrik{
  text-align: center;
  padding: 4rem;
}

/* row */
.row{
  background-color: rgb(234, 234, 234);
}

/* row img */
.row img{
  max-width: 100%;
  height: auto;
  width: 80%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000000;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* bootstrap */
button{
  border: 1px solid black;
  background-color: #000000;
  color: white;
  padding: 9px;
}

button:hover{
  background-color: #7d7d7d;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* footer */
footer {
  background-color: #100f0f;    
  color: white;             
  text-align: center;         
  padding: 15px;             
  font-size: 14px;            
}

footer a {
  color: #f4f4f4;           
  text-decoration: none;      
  margin: 0 8px;             
}

footer a:hover {
  text-decoration: underline; 
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Media */
@media screen and (max-width: 500px) {
    .navbar {
    flex-direction: column; 
    padding: 1rem 0;
  }

  .row{
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    display: flex;
  }

  .row img{
    max-width: 100%;
  }
}